<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{!-- <h1>{{title}}</h1> --}}
    <div class="main-content">
        {{>header}}
    <img class="portrait" src="/img/myimg2.jpg" style="width:400px;height:300px">
    <p>I am Abhishek Kumar currently pursuing B.Tech(2022-26) in NIT Kurukshetra</p>
    </div>
    
    {{>footer}}
</body>
</html>